.header{
    height: 150px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;

}

.navigation {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.all_generations{

    height: 1100px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;

}

.first, .second, .third, .fourth, .fifth, .classes {
    width: 1000px;

    display: flex;
    align-items: center;
    justify-content: space-around;

}


.picture {
    width: 290px;
}
