.header{
    height: 150px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;

}

.navigation {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
#all_generations{

    height: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;

}

.generation {
    width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}


.picture {
    width: 290px;
}

.header_car_page {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_car_page {
    width: 1100px;
    margin: auto;

}

.pictures_car_page {
    height: 800px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-around;
}

.picture_car_page {
    height: 300px;
    width: auto;
}
